[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyodbc = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
flask-bootstrap = "*"
omdb = "*"
flask-whooshalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"

[requires]
python_version = "3.6"
